# Visual Studio Code
.vscode/

# Build directories
build/
.build/
venv/
.venv/

# CMake files
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
install_manifest.txt
CMakeUserPresets.json
vcpkg_installed/

# Others
*.log
*.tmp
*.bak
*.swp
*.env

.DS_store
__pycache__/
# external/
.cache/

eng_init.json
eng_runtime.json
eng_destruction.json

project.prompt
external/zmq
